.productItem {
  display: flex;
  padding: 16px;
  border-radius: 8px;
  background-color: #333;
  color: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.25s;

  &:hover {
    transform: scale(1.05);
  }
}

.productTitle {
  font-size: 1.2em;
  font-weight: 500;
}